<section *ngIf="isLoadingView" class="w-full h-screen absolute bg-gray-200">
    <img [src]="loadingGif" alt="loading" class="absolute" style="top: 50%; left: 50%; transform: translate(-50%,-50%); width: 200px;">
</section>
<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
        <span class="font-semibold text-xl tracking-tight">Notes</span>
    </div>
    <div class="inline-block ml-auto">
        <div>
            <button type="button" class="inline-block text-sm px-4 py-2 leading-none border border-white rounded text-white border-transparent hover:border-transparent hover:text-teal-600 bg-teal-500 hover:bg-white mt-4 lg:mt-0" style="transition: all .2s;" (click)="killSession()">Cerrar sesión</button>
        </div>
    </div>
</nav>
<div class="w-full p-3">
    <div class="w-full">
        <button class="block border border-teal-500 hover:border-teal-600 text-teal-500 hover:text-teal-600 py-2 px-4 rounded" data-micromodal-trigger="modal-1" type="button">
            Nueva nota
            <!-- <i class="fas fa-plus-circle ml-1"></i> -->
        </button>
    </div>
    <div class="w-full grid grid-rows-1 grid-flow-col">
        <div class="grid xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-3">
            <div *ngFor="let dv of dataView" class="rounded overflow-hidden shadow-lg">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{{ dv.items_name }}</div>
                    <p class="text-gray-700 text-base">
                        {{ dv.items_description }}
                    </p>
                </div>
                <div class="flex w-full">
                    <button class="inline-block mr-2 ml-auto my-2 px-6 py-1 rounded bg-teal-500 hover:bg-teal-600 text-white text-sm" (click)="beforeEditItem(dv.items_id)">
                        <!-- <i class="fas fa-pencil-alt"></i> -->
                        Abrir
                    </button>
                    <button class="inline-block mr-3 ml-0 my-2 px-2 py-1 rounded text-red-500 hover:text-red-600 text-white border border-red-500" (click)="areYouSure(dv.items_id)">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container relative" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
            <header class="modal__header">
                <h2 class="modal__title text-teal-500" id="modal-1-title">
                    Nueva Nota
                </h2>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-1-content">
                <form class="w-full max-w-lg" [formGroup]="formularioGrupal">
                    <div class="flex flex-wrap -mx-3 mb-6">
                      <div class="w-full px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                          Título
                        </label>
                        <input *ngIf="isInsertItem" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Libros" formControlName="title" [ngClass]="{'border-red-500': submitted && formularioGrupal.controls.title.errors}">
                        <input *ngIf="!isInsertItem" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Libros" formControlName="title" [ngClass]="{'border-red-500': submitted && formularioGrupal.controls.title.errors}" [value]="dataToEdit.title">
                        <p *ngIf="submitted && formularioGrupal.controls.title.errors" class="text-red-500 text-xs italic">Rellene este campo.</p>
                      </div>
                      <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                          Descripción
                        </label>
                        <textarea *ngIf="isInsertItem" for="grid-last-name" id="grid-last-name" cols="30" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" style="resize: none;" placeholder="Me encantan los libros!" formControlName="description" [ngClass]="{'border-red-500': submitted && formularioGrupal.controls.description.errors}"></textarea>
                        <textarea *ngIf="!isInsertItem" for="grid-last-name" id="grid-last-name" cols="30" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" style="resize: none;" placeholder="Me encantan los libros!" formControlName="description" [ngClass]="{'border-red-500': submitted && formularioGrupal.controls.description.errors}" [value]="dataToEdit.description"></textarea>
                        <p *ngIf="submitted && formularioGrupal.controls.description.errors" class="text-red-500 text-xs italic">Rellene este campo.</p>
                        <p *ngIf="errorInsertItem" class="text-red-500 text-xs italic">Ha ocurrido algo inesperado, intente nuevamente.</p>
                      </div>
                    </div>
                  </form>
            </main>
            <footer class="modal__footer">
                <button *ngIf="isInsertItem" class="rounded px-4 py-2 bg-teal-500 text-white mr-2 hover:bg-teal-600" (click)="addItem()">Continuar</button>
                <button *ngIf="!isInsertItem" class="rounded px-4 py-2 bg-teal-500 text-white mr-2 hover:bg-teal-600" (click)="editItem(dataToEdit.id)">Editar</button>
                <button class="rounded px-4 py-2" data-micromodal-close aria-label="Close this dialog window">Cerrar</button>
            </footer>
            <div *ngIf="!isInsertItem && loadingForEdit" class="w-full h-full bg-gray-300 absolute opacity-75" style="top: 0; left: 0;">
                <img [src]="loadingGif" alt="loading" class="absolute" style="top: 50%; left: 50%; transform: translate(-50%,-50%); width: 200px;">
            </div>
        </div>
    </div>
</div>
<div class="modal micromodal-slide" id="modal-areusure" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container relative" role="dialog" aria-modal="true" aria-labelledby="modal-areusure-title">
            <header class="modal__header">
                <h2 class="modal__title text-red-600" id="modal-areusure-title">
                    Eliminar
                </h2>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-areusure-content">
                <p>Estás seguro?</p>
            </main>
            <footer class="modal__footer">
                <button class="rounded px-4 py-2 bg-red-500 text-white mr-2 hover:bg-red-600" (click)="confirmDelete()">Eliminar</button>
                <button class="rounded px-4 py-2" data-micromodal-close aria-label="Close this dialog window">Cerrar</button>
            </footer>
        </div>
    </div>
</div>